.app {
  display: block;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  margin: 0;

  background-color: rgb(0, 48, 62);
  color: #e1f5fe;
  font-family: 'Courier New', monospace;
  font-size: 13px;
  line-height: 18px;
  white-space: nowrap;
}

:global(a) {
  border-bottom: 1px solid #ff4081;

  color: #e1f5fe;
  text-decoration: none;
}

:global(a:hover) {
  background-color: #ff4081;
  color: #e1f5fe;
}
