@custom-media --iphone (max-width: 736px);


.Container {
  height: 100vh;
  margin: 0;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: -apple-system, "Helvetica", sans-serif;
  font-size: 16px;
}


.Container > * {
  height: 50vh;
  width: 50vw;

  text-align: center;
}

  @media (--iphone) {
    .Container > * {
      width: 80vw;
    }
  }


.Logo {
  height: 112px;
  margin-bottom: 2rem;
  width: 112px;
}
